body {
  background-color: rgba(251, 226, 234, 0.4);
}

.weather-app {
  background: white;
  border-radius: 20px;
  margin: 50px auto;
  max-width: 700px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  padding: 10px;
}

.search {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#search-bar {
  padding: 10px 50px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid;
  background-color: rgb(254, 242, 246, 0.4);
}

#search-button {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid;
  background-color: rgb(253, 167, 196, 0.4);
}

header {
  border-bottom: 1px solid rgb(239, 239, 239);
  padding: 0 0 20px 0;
}

main {
  margin: 25px;
  padding: 20px 0;
}

.weather-data {
  display: flex;
  justify-content: space-between;
}

h1 {
  color: black;
  font-size: 35px;
}

.forecast {
  color: gray;
  font-size: 20px;
  font-weight: 500;
}

.paragraph-details {
  color: palevioletred;
}

.weather-container {
  display: flex;
  justify-content: right;
}

.emoji {
  margin: 0 auto;
  margin-top: 15px;
  margin-right: 10px;
  width: 110px;
  height: 110px;
}

.weather {
  font-size: 80px;
  font-weight: 900;
  margin-top: 20px;
}

.units {
  margin-top: 30px;
  font-size: 25px;
  font-weight: 900;
}

#forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.forecast-day {
  font-size: 18px;
  text-align: center;
  color: rgb(158, 158, 158);
}

.forecast-emoji {
  font-size: 65px;
  text-align: center;
}

.forecast-temp {
  font-size: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.forecast-high {
  color: rgb(240, 135, 170);
}

.forecast-low {
  color: rgb(238, 174, 196);
  padding: 0 10px;
}

footer {
  text-align: center;
  margin: 0 auto;
  font-size: 13px;
  font-family: "Edu TAS Beginner", cursive;
  font-family: "Roboto Mono", monospace;
  color: grey;
  border-top: 1px solid rgb(239, 239, 239);
  padding: 30px 0 10px 0;
}

.links {
  color: palevioletred;
}
